/* Aluna: Lorena Eduarda */
/* =========================================== */
body {
    line-height: 1.5;
    font-family: calibri;
}

@keyframes colorTitle {
    0% {
        color: #F08080;
    }
    25% {
        color: #DB7093;
    }
    50% {
        color: #EE82EE;
    }
    100% {
        color: #8A2BE2;
    }
}

#title-main {
    font-family: 'Brush Script MT';
    animation-name: colorTitle;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    text-shadow: 1px 1px 1px black;
    font-size: 60px;
    text-align: center;
}

/* ======================== Menu e campo de busca ======================== */
.container-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 15px;
}

/* ======================== Menu ======================== */
nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
    background-color: #FFE4E1;
    padding: 4px;
    font-size:20px;
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;
}

nav ul li:hover {
    background-color: #FFDAB9;
    text-decoration: underline;
    transition-duration: 0.4s;
    cursor: pointer;
    transform: scale(1.1);
}

nav ul li a {
    text-decoration: none;
    color: black;
    padding: 4px;
}

/* ======================== Campo de busca ======================== */
.campo-busca {
    display: flex;
    align-items: center;
    border: 1px groove black;
    border-radius: 5px;
    padding: 6px;
}

#input-busca {
    border: none;
    padding: 2px;
    outline: none;
}

#btn-busca {
    background: none;
    border: none;
    padding: 4px;

    transition: transform;
    transition-duration: 0.7s;
    animation-timing-function: ease;
}

#btn-busca:hover {
    cursor: pointer;
    transform: scale(1.1);
    transition-duration: 0.4s;
}

/* ======================== Resultados da pesquisa ======================== */
.resultado-item {
    display: block;
    background-color: #D8BFD8;
    padding: 15px;
    width: 60%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    font-size: 20px;
    color: black;
}

/* ======================== Página inicial ======================== */
article {
    background-color: #D8BFD8;
    padding: 15px;
    width: 70%;
    margin: 20px auto;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0,1);
    font-size: 20px;
}

#banner {
    width: 700px;
    margin: 0 auto;
}

img {
    width: 300px;
    height: auto;
    display: flex;
    justify-content: center;
}

/* ======================== Rodapé ======================== */
footer {
    border-top: 2px solid #ccc;
    text-align: center;
    margin-top: 35px;
    padding: 15px;
    background-color: #E6E6FA
}

footer a {
    text-decoration: none;
    color: black;
    margin: 0 5px;
}

footer a:hover {
    text-decoration: underline;
}

#logo-github {
    width: 50px;
    margin: 0 auto;
    transition: transform 0.4s;
}

#logo-github:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* ======================== Mensagem para o usuário ======================== */
.mensagem {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 15px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    background-color: white;
    z-index: 1000;
}

.mensagem button {
    margin-left: 10px;
    border: none;
    cursor: pointer;
    padding: 5px 10px;
}

/* ======================== Cadastro ======================== */
@font-face {
    font-family: 'Work force';
    src: url(fontes/WorkforceCombine_PERSONAL_USE_ONLY.otf);
}

#titulo-cadastro {
    font-family: 'Work force';
    color: rgb(82, 223, 211);
    text-shadow: 3px 3px 6px black;
    font-size: 60px;
    text-align: center;
}

.cadastro {
    display: flex;
    max-width: 1000px;
    height: 500px;
    margin: 0 auto;
    border: 1px solid black;
}

.cadastro form {
    flex: 1;
    padding: 40px;
    margin-left: 30px;
    margin-top: 20px;
}

.cadastro aside {
    display: flex;
    flex: 1;
    align-items: center;
    justify-content: center;
}

.cadastro aside img {
    width: 98%;
    height: 98%;
    object-fit: cover;
}

.cadastro button {
    border: 1px groove #8B008B;
    border-radius: 8px;
    font-size: 15px;
    margin-left: 45px;
    background-color: #8B008B;
    color: white;
    transition-property: transform;
    transition-duration: 0.7s;
    animation-timing-function: ease;
}

.cadastro button:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.1);
}

.cadastro #btn-limpar {
    margin-left: 75%;
    margin-top: 5%;
}

/* ======================== Minha conta ======================== */
.dados-container {
    display: flex;
    max-width: 1000px;
    height: 570px;
    border: 1px solid black;
    margin: 0 auto;
}

.dados-cadastrados {
    padding: 5% 50px;
    line-height: 1.3;
}

.dados-container aside {
    width: 40%;
}

.dados-container aside img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.linha {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    gap: 80px;
}

.campo {
    display: flex;
    flex-direction: column;
    min-width: 150px;
}

#bt-deletar {
    margin-top: 50%;
    margin-left: 35%;
    background-color: #8B008B;
    color: white;
    padding: 8px;
    font-size: 15px;
    border: 2px solid #8B008B;
    border-radius: 20px;

    transition-property: transform;
    transition-duration: 0.7s;
    animation-timing-function: ease;
}

#bt-deletar:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.1);
}

.datasaved {
    border: 1px groove black;
    padding: 6px;
}

/* ======================== Login ======================== */
#email-login, #senha-login {
    font-size: 15px;
}

#entrar {
    border: 2px solid #8B008B;
    border-radius: 20px;
    margin-left: 60px;
    padding: 8px;
    background-color: #8B008B;
    color: white;

    transition-property: transform;
    transition-duration: 0.7s;
    animation-timing-function: ease;
}

#entrar:hover {
    cursor: pointer;
    transition-duration: 0.4s;
    transform: scale(1.1);
}

#sair {
    display: none;
}

/* ======================== Comentários ======================== */
@font-face {
    font-family: 'Type Writer';
    src: url(fontes/ELEGANT\ TYPEWRITER\ Regular.ttf);
}

#titulo-comentario {
    font-family: 'Type Writer';
    margin-left: 15px;
}

#campo-comentario {
    display: none;
    margin-top:10px;
}

#lista-comentarios {
    display: none;
    margin-top: 20px;
}

.comentario {
    background: #FFF0F5;
    border: 1px groove black;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

textarea {
    padding: 20px;
}

.comentario strong {
    display: block;
    font-size: 15px;
    color: #C71585;
    margin-bottom: 5px;
}

.comentario p {
    font-size: 17px;
    color: black;
}

#para-comentar {
    display: flex;
    padding: 15px;
    background-color: #FFE4E1;
}

#enviar-comentario, #sair {
    background-color: #8B008B;
    color: white;
    border: 2px solid #8B008B;
    border-radius: 20px;
    padding: 6px;
    transition-property: transform;
    transition-duration: 0.4s;
    animation-timing-function: ease;
}

#enviar-comentario:hover, #sair:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#enviar-comentario {
    font-size: 15px;
    cursor: pointer;
    margin-right: 10px;
}

#sair {
    font-size: 15px;
    cursor: pointer;
}

/* ======================== Imagens ======================== */
#poster-img {
    transition-property: transform;
    transition-duration: 0.7s;
    transition-timing-function: ease;

    transition-property: box-shadow;
    box-shadow: 0px 2px rgba(0, 0, 0, 0.1);
}

#poster-img:hover {
    transform: scale(1.04);
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.3);
}